* {
    font-family: 'Fredoka', sans-serif;
}

header {
    color: #E53170;
    text-align: center;
}

section {
    width: 70%;
    text-align: center;
    margin: auto;
}

main {
    width: 1000px;
    margin: auto;
}

.container {
    width: calc(100% / 3);
    margin-top: 40px;
    background-color: black;
    float: left;
    -webkit-box-shadow: 1px 0px 6px 2px #BDBDBD;
    -moz-box-shadow: 1px 0px 6px 2px #BDBDBD;
    -o-box-shadow: 1px 0px 6px 2px #BDBDBD;
    box-shadow: 1px 0px 6px 2px #BDBDBD;
}

h4 {
    padding-top: 0px;
    padding-left: 15px;
    color: white;
    float: left;
}

img {
    float: left;
    height: 80px;
}

#first-row {

    margin-left: auto;
    margin-right: auto;
}

#second-row {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

p {
    float: left;
    color: white;
}