header {
    color: #E53170;
    text-align: center;
}

section {
    width: 60%;
    text-align: center;
    margin: auto;
}

.container {
    margin-top: 40px;
    background-color: black;
    float: left;
}

h3 {
    color: white;
}

img {
    height: 80px;
}

#first-row {
    margin: auto;
}

#second-row {
    clear: both;
}